h1 {
	background: blue;
	color: white;
	text-align: center;

	padding: 40px;
	border: 0rem;

}
nav {
	background: black;
	color: white;
	text-align: center;

	padding: 20px;
}
footer {
	background-color: blue;
	text-align: center;
	padding: 20px;
}
	
.modern a {
	flex: 1 1 100%;
}



body {
	
	height: 100vh;
	grid-template: auto 1fr auto / 300px 1fr auto;
  }





.navigation {
	list-style: none;
	display: flex;
	background-color: #333;
	align-items: center;
}
.navigation li {
	flex: 1 1 auto; /* difference between auto and 100% flex-basis - turn on link borders to view */
}
.navigation a {
	display: block;
	color: #eee;
	padding: 0.75rem;
	text-decoration: none;
	text-align: center;
/* 	border: 1px dotted cyan; */
}
.navigation a:hover {
	font-weight: 700;
	text-decoration: underline;
	text-decoration-color: yellow;
}
.card {
	grid-column: auto;
	padding:block;
	display: inline-table;
	column-gap: 20px;
}
h2 {
	text-align: center;
	background-color: blue;
	color: white;
	padding: 1rem;

}
h3 {
	text-align: center;
}
h4{
	text-align: center;
	background-color: blue;
	color: white;
	padding: 1.3rem; ;
}



