/* Responsive styles */
@media only screen and (min-width: 40em) {
	header {
		display: flex;
		background-color: rgb(85, 4, 28);
		justify-content: space-between;
		flex-wrap: wrap;
		}
	body{
		margin: 0;
		padding: 0;
	}
	
    h1 {
        font-size: 2rem;
		border: #fff;
		text-align: center;
	}
	.navigation {
		display: flex;

	}
	nav {
		display: flex;
		
	}
	.navigation li {
		display: grid; /* change state in small view */
		flex: 1 1 100%;
	}
	.navigation a {
		text-align: center;
		padding-top: 2rem;
	}
	#menu {
		display: none;
	}
	figure {
    background-color: #fff;
    padding: .5rem;
	}
	img {
    	height: 15rem;
		width: 25rem;
		
	}
	figcaption {
    	font-size: small;
	}
 	div {
    	display: grid;
		grid-template-columns: 1fr 1fr 1fr;
    	text-align: center;
		
	}
	.temple-card {
	display: block;
    border: 1px solid #ccc;
    padding: 1rem;
    margin: 1rem;
    max-width: 400px;

	}
 	footer {
    	display: grid;
    	text-align: center;
 	}
}
