@media only screen and (min-width: 5em) {
	header {
		display: flex;
		background-color: rgb(85, 4, 28);
		justify-content: space-between;
		flex-wrap: wrap;
        text-align: center;
		}
	body{
		margin: 0;
		padding: 0;
        box-sizing: border-box;
		height: 300px;
	}
	main {
    display: flex;
    
    
	}
    h1 {
        font-size: 2rem;
		border: #fff;
		text-align: center;
        margin: auto;
	}
    /* Background image styling */
.hero {
    position: relative;
    min-height: 100vh;
    padding: 20px;
    background-image: url("./images/nairobi.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Section appearance */
section {
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(3px);
    padding: 15px 20px;
    max-width: 300px;

}

/* Section positions */
.top-left {
    position: absolute;
    margin-top: 30px;
    margin-left: 10px;
	
}

.bottom-right {
    position: absolute;
    bottom: 50px;
    right: 30px;
}
h2 {
	color: #fff;
	background-color: green;
	
}
section h2 {
    text-align: left;
}


    
}