/* Responsive styles */
@media only screen and (min-width: 40em) {
	header {
		display: flex;
		background-color: rgb(85, 4, 28);
		justify-content: space-between;
		flex-wrap: wrap;

	}
	body{
		margin: auto;
	}
	main {
		margin-left: 5rem;
	}
	

	h1 {
        font-size: 2rem;
		border: #fff;
	}
	.navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 100%;
	}
	.navigation a {
		text-align: center;
		padding-top: 2rem;
	}
	#menu {
		display: none;
	}
	figure {
    background-color: #fff;
    padding: .5rem;
	

    
}
img {
    height: auto;
	width: 22rem;


}
figcaption {
    font-size: small;

}
 div {
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
	flex-wrap: wrap;

 }

 footer {
    display: grid;
    text-align: center;
 }
}
/* @media  (max-width: 768px){

.hamburger {
    display: block; 
}

header {
    display: grid;
}

ul {
    display: none; 
    flex-direction: column;
    background-color: #333;

    top: 60px;
    left: 0;
}
ul-show{
    display: flex;
}

li {
    text-align: center;
    padding: 15px 0;
}

}*/